/* general */
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  background-color: #f9f9f9;
}
ul {
  list-style-type: none;
  margin-bottom: 25px;
}
p {
  margin: 0px 0px 28px;
}
#root {
  height: 100vh;
}
.container-fluid {
  margin: 0;
  padding: 0% 4%;
  height: inherit;
}
.content {
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 3px 7px 20px 1px rgba(64, 30, 30, 0.1);
  padding: 100px 80px;
  padding-bottom: 37px;
  margin-top: 150px;
  text-align: center;
}
.btn-default {
  background-color: black;
  border-radius: 26px;
  color: white;
  border: none;
}
.margin-left {
  margin-left: 10px;
}
.margin-top {
  margin-top: 100px;
}
.form-control:focus {
  border: none;
  /* box-shadow: none; */
}
/* .background:after {
  content: '';
  background: url(../img/pexels-photo-616834.jpg) no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
} */

/* login form */
.col-md-6.content.margin-left {
  margin-left: 100px;
}
.sign.form-group {
  margin-bottom: 55px;
}
.sign.form-control {
  height: 40px;
  border: none;
  border-bottom: 1px solid #cecccc;
  border-radius: 5px;
  box-shadow: inset 0px 0px 0px 0px #000000;
  text-align: center;
  letter-spacing: 3px;
  font-style: italic;
}
form h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 70px;
}
form h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 60px;
  text-align: center;
}
.col-md-6.content a {
  display: inline-block;
  color: #337ab7;
  text-decoration: none;
}
.sign.btn-default {
  display: block;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  background-color: black;
  border: none;
  border-radius: 26px;
  padding: 12px 38px;
  color: white;
  letter-spacing: 3px;
}
.sign.btn-default:focus, .btn.btn-default:focus {
  outline: none;
}

/* signup form */
/* .col-md-12.content {
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  padding: 100px 80px;
  margin-top: 150px;
} */



/* navbar */
.navbar-fixed-top {
  width: 92%;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 20px;
}
.nav>li>a:focus, .nav>li>a:hover {
  border-radius: 150px;
}
a {
  color: #525252;
}

/* search bar */
.content.home:before {
  content: '';
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  display:block;
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.content.home {
  margin: auto;
  margin-top: 13vh;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid #f5f5f5;
  background-color: #f9f9f9;
  height: 82vh;
}
.content.home .row {
  text-align: center;
}
.glyphicon.glyphicon-search {
  padding-left: 14px;
  padding-right: 14px;
  line-height: inherit;
}
.col-xs-12 {
  margin-top: 89px;
  width: 100%;
}
.col-xs-12 .form-group {
  display: inline-block;
  width: 60%;
}
h4 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 27px;
}

/* cocktail create */
.col-xs-5.content.create-form, .edit-form {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 3px 7px 20px 1px rgba(64, 30, 30, 0.1);

  padding: 0;
  margin-left: 1.2%;
  margin-top: 18vh;
  text-align: center;
  width: 90%;
  height: 900px;
}
.col-xs-6 {
    width: 48%;
    padding: 0;
    margin-right: 11px;
}
.row {
  text-align: left;
  margin: 0;
  padding-top: 40px;

}
.row.name {
  width: 30%;
  margin-right: 50px;
}
.row.instructions {
  width: 57%;
  padding-left: 75px;
  overflow-y: scroll;
  box-shadow: inset 9px -3px 5px 3px rgba(0, 0, 0, 0.03);
}
.row.ingredients {
  margin: 0;
}
.row.name h3 {
  font-size: 40px;
  margin-bottom: 30px;
}
.row.instructions .btn-default {
  width: 100%;
  border-radius: 2px;
}
.row.instructions h1 {
  text-align: right;
  font-size: 36px;
  margin-right: 10px;
  margin-top: 23px;
  margin-bottom: 22px;
}
.new-cocktail.form-control {
  padding-top: 10px;
  border: 1px solid #cecccc;
  border-radius: 2px;
  box-shadow: inset 0px 0px 0px 0px #000000;
  text-align: left;
  letter-spacing: 2px;
}
textarea.new-cocktail.form-control {
  height: 150px;
}

/* cocktail container */
.container-fluid.content {
  height: auto;
  padding: 150px 170px;
}
.padding-right{
  display: flex;
  flex-direction: column;
}
.padding-right {
  padding-right: 65px;
}
.popup-modal {
  position: fixed;
  bottom: 10vh;
  right: 0;
  margin-left: 32%;
  margin-right: 32%;
  background-color: rgba(0,0,0,.9);
  color: white;
  border-radius: 80px;
  line-height: .1;
  padding: 25px 15px;
  width: 36%;
  animation-name: saved;
  animation-duration: 1s;
  animation-direction: alternate;
}
@keyframes saved {
    0%   {bottom: -17vh}

    100% {bottom: 10vh}
}
/* cocktail card  + user profile*/
.panel-heading {
  border-bottom: 1px solid rgb(211,211,211);
}

.display-one-item {
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 3px 7px 20px 1px rgba(64, 30, 30, 0.1);
  padding: 100px 80px;
  padding-bottom: 37px;
  height:auto;
  margin-top: 150px;
  margin-left: 17%;
  margin-right: 17%;
  text-align: left;
}
/* profile */
.row.margin-top {
  margin-top: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: 3px 7px 20px 1px rgba(64, 30, 30, 0.1);
  padding: 100px 80px;
  padding-bottom: 37px;
  height:auto;
  text-align: left;
}
.row.col-xs-12, .row.col-xs-12>.panel-heading {
  padding-left: 0;
}



@media (min-width: 992px) {
  .col-md-6 {
    width: 40%;
  }
}
